<html ng-app="app">
<head>
	<title>Node API</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="controllers.js"></script>
</head>
<body ng-controller='DataController'>
	Date: <input type='text' ng-model="date"></br>
	Time: <input type='time' ng-model="time"></br>
	Band: <input type='text' ng-model="band"></br>
	Venue: <input type='text' ng-model="venue"></br>
	<ul>
		<li ng-repeat="gig in gig_data">
			<p>{{gig.id}} {{gig.date}} {{gig.time}} {{gig.band}} {{gig.venue}}</p>
		</li>
	</ul>
	<button ng-click="sendData(date,time,band,venue)">Submit</button>
</body>
</html>